@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,100;1,400&family=Tenor+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*GLOBAL ------------------------ */
:root {
  --laranja-pastel: #dddddd;
  --gradiente-laranja: linear-gradient(170deg, #fad961 15%,#ffe53b 35%,#ff7c25 65%, #f76b1c);
  --gradiente-insta: linear-gradient(to left, #4158d0, #c850c0, #ffcc70);
  --gradiente-insta-invertido: linear-gradient(to right, #4158d0, #c850c0, #ffcc70);
  --gradiente-leve: linear-gradient(170deg, #f8f1ea, #f8f1aa);
}

/*HEADER ------------------------ */

header {
  text-align: center;
  height: 100%;
  width: 100vw;
  background:var(--gradiente-insta);
  width: 90%;
  margin: auto;
  border-radius: 0.8rem;
  margin-top: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}


#logo-image {
  height: 220px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1rem;
}

/*CONTAINER ------------------------ */
section {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.warning {
  padding: 10px;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.paragraph-title {
  margin-bottom: 2rem;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

P{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 20px;
  line-height: 150%;
}

#img-warning {
  height: 25rem;
}

div.contato {
  text-align: left;
  margin-top: 2rem;
}

a#contato {
  text-decoration: none;
  color: #fff;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 400;
  background: var(--gradiente-insta);
}

a#contato:hover {
  transition: all 0.3s ease;
  background: var(--gradiente-insta-invertido);

}

/*FOOTER  ----------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

footer .footer {
  font-weight: 600;
  font-size: 14px;
}
#footer-image {
  height: 120px;
}

/*MOBILE  */
@media screen and (max-width: 900px) {
  section {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: center;
  }

  div.contato {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #img-warning{
    height: 16rem;
    }
}