* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 50px;
  text-align: center;
}
.container #logo {
  border-radius: 50%;
  border: 2px black solid;
  max-height: 150px;
}

.container .typeImg {
  max-height: 500px;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

@media screen and (max-width:800px) {
  .container .typeImg {
    max-height: 350px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width:640px) {
  .container .typeImg {
    max-height: 250px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width:450px) {
  .container .typeImg {
    max-height: 200px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width:358px) {
  .container .typeImg {
    max-height: 150px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
  }
}

a {
  float: right;
}

footer {
  margin-top: 15px;
  text-align: center;
  height: 100%;
  line-height: 150%;
}